{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>进程管理系统</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrapValidator.min.css' %}" />
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <!-- 当前项目样式文件 -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-bk-theme.css' %}" rel="stylesheet">
    <!--蓝鲸平台APP 公用的样式文件 -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bk.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
    {% block css %}
    {% endblock %}
</head>


<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'supervisor:home' %}">
                    <i class="fa fa-leaf f20 mr5"></i>
                    进程管理系统
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="javascript:;">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="{% static 'img/50x50.png' %}" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>qcloud</strong>
                                        </h5>
                                        <p class="small text-muted">Yesterday at 4:32 PM</p>
                                        <p>当前有一条未读的短消息...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="javascript:;">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="{% static 'img/50x50.png' %}" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>qcloud</strong>
                                        </h5>
                                        <p class="small text-muted">Yesterday at 4:32 PM</p>
                                        <p>当前有一条未读的短消息...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="javascript:;">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="{% static 'img/50x50.png' %}" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>qcloud</strong>
                                        </h5>
                                        <p class="small text-muted">Yesterday at 4:32 PM</p>
                                        <p>当前有一条未读的短消息...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="javascript:;">查看所有消息</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="javascript:;"><span class="label label-default">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span class="label label-primary">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span class="label label-success">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span class="label label-info">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span class="label label-warning">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span class="label label-danger">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;" class='text-center'>查看所有提醒</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#change_password_modal">
                            <i class="fa fa-fw fa-key"></i> 修改密码
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-fw fa-envelope"></i> 消息盒</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-fw fa-gear"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'myauth:logout' %}"><i class="fa fa-fw fa-power-off"></i> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'supervisor:home' %}"><i class="fa fa-fw fa-dashboard"></i> 首页</a>
                    </li>
                    <li>
                        <a href="{% url 'supervisor:node' %}"><i class="fa fa-fw fa-server"></i> 服务器</a>
                    </li>
                    <li>
                        <a href="{% url 'supervisor:type' %}"><i class="fa fa-fw fa-tags"></i> 功能</a>
                    </li>
                    <li>
                        <a href="{% url 'supervisor:environment' %}"><i class="fa fa-fw fa-briefcase"></i> 项目</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
         <!-- 模态框（Modal） -->
                    <div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="change_password_modal_label" aria-hidden="true">
	                    <div class="modal-dialog" style="width: 400px;">
                            <!-- .modal-content -->
                            <div class="modal-content">
			                    <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					                    &times;
				                    </button>
				                    <h4 class="modal-title" id="change_password_modal_label">
					                    修改密码
				                    </h4>
                                    <div class="label">
                                        <small id="change_password_message" class="help-block, color-danger" style="display: none;"></small>
                                    </div>
			                    </div>
			                    <div class="modal-body">
                                    <form class="form-horizontal"  id="change_password_form">
                                        <div class="form-group ">
                                            <label for="old_pwd" class="col-sm-4 control-label">旧密码：</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" id="old_pwd" placeholder="旧密码" name="old_pwd">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="new_pwd" class="col-sm-4 control-label">新密码：</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" id="new_pwd" placeholder="新密码" name="new_pwd">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="confirm_pwd" class="col-sm-4 control-label">确认密码：</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" id="confirm_pwd" placeholder="确认密码" name="confirm_pwd">
                                            </div>
                                        </div>
                                    </form>
			                    </div>
                                <div class="modal-footer">
				                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        取消
				                    </button>
				                    <button type="button" class="btn btn-primary" id="change_password_form_btn" onclick="changePassword();">
					                    提交
				                    </button>
			                    </div>
		                    </div><!-- /.modal-content -->
                        </div>
	                </div><!-- /.modal -->
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->
        <!-- 尾部声明 start -->
        <div class="foot" id="footer">
            {% block footerline %}{% endblock %}
      </div>
      <!-- 尾部声明 start -->

    </div>
    <!-- /#wrapper -->
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zh_CN.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
             $.ajaxSetup({
                   data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
              });
        });
        	function validator(){
        	    console.log("validator")
         		//输入项的验证
         		$('#change_password_form').bootstrapValidator({
         	        message: '输入值不满足不满足系统要求',
         	        excluded : [':disabled'],
         	        feedbackIcons: {
         	            valid: 'glyphicon glyphicon-ok',
         	            invalid: 'glyphicon glyphicon-remove',
         	            validating: 'glyphicon glyphicon-refresh'
         	        },
         	        live: 'enabled',
         	        fields: {
         	        	old_pwd: {
         	                message: '用户旧密码不满足系统要求',
         	                validators: {
         	                     notEmpty: {
         	                              message: '用户旧密码不能为空'
         	                         },
         	                      stringLength: {
         	                           min: 8,
         	                           max: 50,
         	                           message: '用户旧密码长度不能少于8位'
         	                       },
         	                      regexp: {
         	                         regexp: /^[^ ]+$/,
         	                         message: '用户旧密码不能有空格'
         	                       }
         	                }

         	            },

         	            new_pwd: {
         	           	message:'新密码不满足系统要求',
         	               validators: {
         	                   notEmpty: {
         	                       message: '用户新密码不能为空'

         	                   },
         	                  regexp : {
     	    	                    regexp : /^(?:(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])|(?=.*[A-Z])(?=.*[a-z])(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9])).{8,16}$/,
     	    	                    message : '用户新密码长度为8至16位,并且需要包含数字、小写字母、大写字母、符号(至少三种)'
     	                 	       },
     	                 	  identical: {
     	                            field: 'comfirm_pwd',
     	                            message: '用户新密码与确认密码不一致！'
     	                          },
     	                 	  stringLength: {
       	                           min: 8,
       	                           max: 50,
       	                           message: '用户新密码长度不能少于8位'
       	                       }
         	               }

         	          },
         	          confirm_pwd: {
         	                validators: {
         	                    notEmpty: {
         	                        message: '确认密码不能为空'
         	                    },
         	                   regexp : {
    	    	                    regexp : /^(?:(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])|(?=.*[A-Z])(?=.*[a-z])(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9])).{8,16}$/,
    	    	                    message : '用户确认密码长度为8至16位,并且需要包含数字、小写字母、大写字母、符号(至少三种)'
    	                 	       },
    	                 	  identical: {
    	                            field: 'new_pwd',
    	                            message: '用户新密码与确认密码不一致！'
    	                          },
    	                 	  stringLength: {
      	                           min: 8,
      	                           max: 50,
      	                           message: '用户确认密码长度在8-50之间'
      	                       }
         	                }
         	            }
         	        }
         	    });
         	};
            function changePassword () {
                console.log("change")
                validator()
                var bootstrapValidator = $("#change_password_form").data('bootstrapValidator');
                bootstrapValidator.validate();
                if(bootstrapValidator.isValid()){
                    $.ajax({
                    //几个参数需要注意一下
                        type: "POST",//方法类型
                        dataType: "json",//预期服务器返回的数据类型
                        url: "{% url 'myauth:change_password' %}" ,
                        data: {
                            'old_pwd':$('#old_pwd').val(),
                            'new_pwd':$('#new_pwd').val(),
                            'confirm_pwd':$('#confirm_pwd').val()
                        },
                        success: function (result) {
                            console.log(result);//打印服务端返回的数据(调试用)
                            if(result.code == 0){
                                $("#change_password_message").html("")
                                $("#change_password_message").hide()
                                $("#change_password_modal").modal('hide');
                            }else{
                                $("#change_password_message").html(result.msg)
                                $("#change_password_message").show()
                            }
                        },
                        error : function() {
                            alert("异常！");
                        }
                    });
                }
            };
            $('#change_password_modal').on('hide.bs.modal', function () {
              $('#change_password_form').bootstrapValidator('resetForm');
              $('#change_password_form')[0].reset()
            });
        $(function(){
         $(".side-nav li").each(function(){
            if(String(window.location).indexOf($(this).children('a')[0].href) == 0){         
                $(this).addClass("active");
            }
        })
    });
    </script>

    <!-- 兼容性设置 -->
    <!--[if lt IE 6]>\xe8\x93\x9d\xe9\xb2\xb8\xe6\x99\xba\xe8\x90\xa5\x20\xe7\x89\x88\xe6\x9d\x83\xe6\x89\x80\xe6\x9c\x89<![endif]-->
    {% block script %}

    {% endblock %}
</body>
</html>